# Replace the values to suit your CI environment
host: ...
test_vm_host: ...
test_subnet: ...
test_domain: ...
test_lxd_address: ...
test_virsh_host: ...
token_key: ...
token_secret: ... 
customer_key: ...
