# Replace the values to suit your CI environment
host: ...
test_subnet: ...
test_domain: ...
token_key: ...
token_secret: ...
customer_key: ...
test_existing_vm_host: ...
test_lxd_host:
  hostname: ...
  power_type: ...
  power_driver: ...
  power_address: ...
  power_user: ...
  power_pass: ...
  mac_address: ...
  architecture: ...
test_virsh_host:
  hostname: ...
  power_type: ...
  power_driver: ...
  power_address: ...
  power_user: ...
  power_pass: ...
  mac_address: ...
  architecture: ...
